/*******   BLOCKS    *******/


/* footer banner */
.footer-banner{
    background-image:url(../images/connect-banner.png);
    background-repeat: no-repeat;
    background-color: $brand-secondary-color;
    background-position: right;
    margin-top:-1px;

    @media(max-width: $mobile-bp ){
      background-image:url(../images/connect-button.png);;
      text-align: left;

      .col-6 {
        padding:0;

        .connect-button a {
          font-size: 0.8em;
          padding:25px;

        }
      }
    }

  /* connect with us block */
  .connect-button{
    font-size: 34px;
    a{
      padding: 16px 0px;
      display: block;
      color: $link-color;
    }
    a:hover{
      text-decoration: none;
      color: white;
    }
  }
}

.right-menu{
  .connect-button{
    background-image:url(../images/connect-button.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 10px;
    a{
      padding: 30px 20px;
      display: block;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }
    a:hover{
      text-decoration: none;
      color: white;
    }
  }

  ul.menu{
    list-style: none;
    background: $regal-blue;
    margin: 0 0 10px 0;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 13px;
    &:first-child{
      padding: 0;
      margin: 0 0 10px 0;
    }

    .menu-item--expanded{
      list-style-image: none;
      list-style: none;
    }

    ul {
      padding:10px 0 0 0;
    }

    li{
      padding: 5px 0 5px 20px;
      a{
        color: white;
        &:hover{
          text-decoration: underline;
        }
        &.is-active{
          color: $nav-link-active-color;
        }
        &.is-active:hover{
          color: white;
        }
      }
    }
  }

  .archive-list {
    background: $regal-blue;
    padding:0px 0 10px 0;
    display: block;

    .view-content {
      margin-bottom: 0;
      column-count: 2;
      -moz-column-count: 2;
      -webkit-column-count: 2;
    }

    .views-summary {
      padding:2px 20px;

    
      a {
        color:white;
      }
    }
  }
}

#block-views-block-news-block-1 {
  background: $regal-blue;
  h2 {
    color:white;
    padding:10px 20px 0;
  }
}

.view-footer {
  .more {
    border-top:1px solid $nobel-grey;
    text-align: center;
    padding-top:10px;
    font-size: 0.85em;

    a {
      text-transform: uppercase;
      
    }
  }
}


