/*******   CONNECT BANNER FOR HOMEPAGE    *******/
.footer-banner{
    background-image:url(../images/connect-banner.png);
    background-repeat: no-repeat;
    background-color: $brand-secondary-color;

  .connect-button{
    font-size: 34px;
    a{
      padding: 17px 0px;
      display: block;
      color: $link-color;
    }
    a:hover{
      text-decoration: none;
      color: white;
    }
  }
}

.right-menu{
  .connect-button{
    background-image:url(../images/connect-button.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 10px;
    a{
      padding: 30px 20px;
      display: block;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }
    a:hover{
      text-decoration: none;
      color: white;
    }
  }

  ul.menu:first-child{
    padding: 10px 0;
    margin: 0 0 10px 0;

  }
  ul.menu{
    list-style: none;
    background: #19374f;
    
    text-transform: uppercase;
    font-size: 13px;

    .menu-item--expanded{
      list-style-image: none;
      list-style: none;
    }

    li{
      padding: 5px 20px;
      a{
        color: white;
        &:hover{
          text-decoration: underline;
        }
        &.is-active{
          color: $nav-link-active-color;
        }
        &.is-active:hover{
          color: white;
        }
      }
      li{
        padding: 3px 20px;
      }
    }
  }
}


