/*******   CONNECT BANNER FOR HOMEPAGE    *******/
.footer-banner{
    background-image:url(../images/connect-banner.png);
    background-repeat: no-repeat;
    background-color: $brand-secondary-color;

  .connect-with-us{
    font-size: 34px;
    a{
      padding: 17px 0px;
      display: block;
      color: $link-color;
    }
    a:hover{
      text-decoration: none;
      color: white;
    }
  }
}

.right-menu{
  .connect-with-us{
  background-image:url(../images/connect-button.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right;
  a{
    padding: 30px 20px;
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  a:hover{
    text-decoration: none;
    color: white;
  }
}
}


