/*******   CALENDAR    *******/

#block-views-block-event-calendar-block-1,
.view-event-calendar .view-header{
	.pager{
		padding: 5px 0;
		ul{
			display: table;
			li{
				display: table-cell;
				&.pager__item--previous,
				&.pager__item--next{
					width: 40px;
				}
				&.pager__item--current{
					width: 200px;
					text-align: center;
				}
			}
		}
	}
}

#block-views-block-event-calendar-block-1{
	.view-content{
		margin-bottom: 0px;
	}
	.pager{
		background-color: white;
		border: solid 1px $hr-border-color;
		&.pager__item a{
			padding: 2px 6px;
		}
		li{
			text-align: center;
		}
	}
}

.region-content .view-event-calendar .view-header{
	border-bottom: 1px solid $light-grey;
	margin-bottom: 20px;
	h3{
		font-size: 20px;
	}
	.pager{
		padding: 5px 0 10px 0;
		.pager__item a{
			font-size: 20px;
			padding: 2px 7px;
		}
	}
}

.calendar-calendar{
	table.mini{
	 	tr:first-child{
			border: solid 1px $hr-border-color;
			border-bottom: solid 2px $hr-border-color;

			td{
				border: none;
				padding: 5px;
			}
		}
		td{
			padding: 3px 6px 18px 10px;
			border: solid 1px $hr-border-color;
			a{
				text-decoration: none;
			}
			&.has-events{
				background-color: $white-smoke;
			}
			&.today{
				background-color: $form-input-bg-color;
			}
			
		}
	}
}
