/*******   FOOTER    *******/

footer {
  @include link;
  @include horizontal_menu;

  text-transform: uppercase;
  color: $footer-link-color;
  padding: 15px 0;
  font-size: 12px;

  .contact{
    .sharelinks{
      font-size: 32px;
      li{
        padding-right: 25px;

        a:hover {
          color:$nobel-grey;
        }
      }
    }
    nav{
      margin-top: 22px;
      a{
        color: $dim-grey; 
        text-decoration: none;
        &:hover,
        &:focus{
          color: $footer-link-hover-color;
          text-decoration: underline;
        }
      }
      ul li{
        padding: 0 5px;
        border-right: solid 1px $nobel-grey;
        &:last-child{
          border: none;
        }
        &:first-child{
          padding-left: 0px;
        }
      }
    }
  }

  .region-footer-menu ul.menu{
    margin: 0px;
  }

  .partners{
    @include hidden;

    ul{
      display: block;
      float: right;
      margin: 0;
    
      li{
        margin-right: 15px;
        

        &:last-child{
          margin-right: 0;
        }
      }
    }

    a {
      height: 37px; 
      background: url("../images/bsia-partners-2016.png") no-repeat 0 0; 
      background-size: cover;
      display: block;

      &.wlu-logo {
        width: 90px;
        background-position: 0 0;
      }

      &.cigi-logo {
        width: 120px;
        background-position: -100px 0;
      }

      &.uw-logo {
        width: 145px;
        background-position: 100% 0;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .copyright{
    display: block;
    margin: 0;
  }

  @media(max-width: $mobile-bp ){
   
    .contact{
      float: none;
      text-align: center;

      .sharelinks, nav{
        display: inline-block;
        text-align: center;

        li:last-child {
          padding-right: 0;
        }
      }

     nav{
      a{
         color: $nobel-grey;
         text-decoration: none;
         &:hover,
         &:focus{
           color: $footer-link-hover-color;
           text-decoration: underline;
         }
       }
     }
   }

   .non-mobile & .contact{
    float: left;
    text-align: left;
   }

  .partners{
    margin-top: 1em;
    padding:20px 0;
    display:block;
    text-align: center;
    text-indent: 0;
    font-size: 0;

    ul{
      display: inline-block;
      float:none;
      margin: 0;

      li{
        margin-right: 15px;
        display: inline-block;
        float:none;

        &:first-child {
          margin-right:15px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
   .copyright{
     margin: 0;
     display: block;
     text-align: center;
   }
  }

  @media(max-width: $tiny-mobile-bp ){
    .contact {
      nav {
        font-size: 0.9em;
      }
    }

    .partners{
      a {
        height: 30px; 

        &.wlu-logo {
          width: 70px;
          background-position: 0 0;
        }

        &.cigi-logo {
          width: 76px;
          background-position: -99px 0;
        }

        &.uw-logo {
          width: 102px;
          background-position: 100% 0;
        }
      }
    }

    .copyright{ 
      font-size: 0.9em;
    }
  }

}