/******  HOMEPAGE GALLERY  ******/

#gallery{
  overflow: hidden;
  position: relative;

  li{
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .gallery {
    position: relative;
  }

  img{
    width: 100%;
    height: auto;
  }

  .box{
      position: absolute;
      top: 10%;
      left: 15%;
      width: 70%;
      background: $regal-blue; 
      background: rgba(25,55,79, 0.90);
      padding: 1.0em;
      a{
        color: #fff;
        text-decoration: none;
        display: block;
        .label{
          color: $label-grey;
          font-weight: normal;
        }
      }
  }
  .gallery-caption{
    margin-top: 0.3em;
    margin-left: 0.2em;
    @include type;
    color: $light-grey-text;
    &:before{
      content: '\F030';
      font-family: fontAwesome;
      padding-right: 0.5em;
      padding-left:1px;
    }
  }

  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    margin-top: -1.5em;
    float: right;
  }

  .bx-wrapper .bx-pager {
      font-size: 0.6em;
      font-family: Arial;
      font-weight: bold;

      color: $sunglow-orange;


      @media(max-width: $tiny-mobile-bp){
        display: none; 
      }
  }

  .bx-wrapper .bx-pager .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
      display: inline-block;
      *zoom: 1;
      *display: inline;
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
      background: $sunglow-orange;
      text-indent: -500em;
      display: block;
      width: 1.5em;
      height: 1.5em;
      margin: 0 0.4em;
      outline: 0;
      border-radius: 1em;
      behavior: url(/sites/all/themes/bsia/_styles/PIE/PIE.php);
  }

  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
      background: $very-light-grey;
  }

  #prev a,
  #next a{
      position: absolute;
      top: 33%;
      font-family: FontAwesome;
      color: $sunglow-orange;
      width: 1em;
      height: 1em;
      font-size: 2.5em;
      text-align: center;

      &:hover {
        color: $very-light-grey;
      }
  }

  #prev a{
      left: 0.2em;
  }

  #next a{
      right: 0.2em;
  }
  #next a:hover, #prev a:hover{
    text-decoration: none;
  }

  @media (min-width: $mobile-bp){
    .box{
      width: 40%;
      a{
        font-size: 1.5em;
      }
    }

    .box-top-left{
      top: 5%;
      left: 12%;
    }
    .box-top-right, .box- {
      top: 10%;
      left: 55%;
    }

    .box-bottom-right {
      top: 30%;
      left: 55%;
    }

    .box-bottom-left {
      top: 30%;
      left: 12%;
    }

    #prev a,
    #next a{
      top: 45%;
    }
    #prev a{
      left: 0.5em;
    }

    #next a{
        right: 0.5em;
    }
 
  }
}

