/*****  HEADER   ******/
header {
  background-color: $header-bg-color;

  a.logo{
    display: block;
    @include hidden;
    background: url('../images/bsia-logo-2015.png') no-repeat 10px;
    width: 300px;
    background-size: 175% auto;
  }

  .search{
    display:none;
  }
  .main-nav{
    font-size: 130%;
    color: $link-color;
    text-align: center;
    &:hover{
      cursor: pointer;
    }
  }

  @media(min-width: $mobile-bp){
    @include desktop_header();
  }

  .non-mobile &{
    @include desktop_header();
  }
}


/***********  MAIN NAV  **************/
#main-menu {

  background: url(../_images/BSIA-watermark.png) no-repeat center;
  background-position: top center;
  border-top: solid 1px $nav-bg-color;
  border-bottom: solid 1px $header-bg-color;
  text-transform:uppercase;

  .cols-6{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  nav ul{
    li{
      font-size: 1.2em;
      padding: 0.3em 0;
      text-align: right;
      a{
        padding: 0.3em 0.5em;
        text-decoration: none;
        &:hover, &:focus{
          background: $header-bg-color;
          border-radius: 0.13em;
        }
      }
    }
  }


  @media(min-width: $mobile-bp){
    @include desktop_nav();
  }
  .non-mobile &{
    @include desktop_nav();
  }
}

/*******  SEARCH Block   *******/

.search{
  float:right;
  margin-top: 16%;
  .form-item,
  .form-submit{
    float: left;
  }
  .form-submit{
    @include search_form_submit;
  }

  #search-block-form{
    input[type="search"]{
      @include search_form_input;
    }
  } 
}


