/*****  HEADER   ******/

header {
  background-color: $header-bg-color;

  .col-lg-2{
    text-align: right;
  }

  a.logo{
    display: block;
    @include hidden;
    background: url('../images/bsia-logo-2015.png') no-repeat 10px;
    width: 260px;
    min-height: 75px;
    background-size: 175% auto;
  }

  .search{
    margin-top: 1.5em;
    display:none;
  }

  .main-nav,
  .search-button{
    border: solid 1px #19374f;
    border-radius: 5px;
    display: inline-block;
    padding: 0.2em 0.35em;
    margin: 1.0em 0em 0em 0.4em;
    font-size: 140%;
    color: $link-color;
    text-align: center;
    &:hover{
      cursor: pointer;

    }
  }
  .search-box{
    display: none;
    text-align: center;
    background: white;
    z-index: 10;
    border-bottom: solid 1px #19374f;
    padding-bottom: 1.5em;
    input[type=search]{
      @include search_form_input;
      float: none;
      margin-right: 1em;

      @media(max-width: $mobile-bp){
        width:70%;
      }
    }
    input[type=submit]{
      @include search_form_submit;
      margin-left: -2.6em;
    }
  }

  @media(min-width: $mobile-bp){
    @include desktop_header();
  }

  .non-mobile &{
    @include desktop_header();
  }
}


/***********  MAIN NAV  **************/
#main-menu {
  background-position: top center;
  border-top: solid 1px $nav-bg-color;
  border-bottom: solid 1px $header-bg-color;
  text-transform:uppercase;

  .col-6{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  nav ul{
    margin: 1em 0.8em;
    li{
      font-size: 1.2em;
      padding: 0.3em 0;
      text-align: right;
      list-style: none;
      a{
        padding: 0.3em 0.5em;
        text-decoration: none;
        &:hover, &:focus{
          background: $header-bg-color;
          border-radius: 0.13em;
        }
      }
    }
  }


  @media(min-width: $mobile-bp){
    @include desktop_nav();
  }
  .non-mobile &{
    @include desktop_nav();
  }
}

/*******  SEARCH Block   *******/

.search{
  float:right;
  .form-item,
  .form-submit{
    float: left;
  }
  .form-submit{
    @include search_form_submit;
  }

  #search-block-form{
    input[type="search"]{
      @include search_form_input;
    }
  } 
}


