/*******   CONNECT BANNER FOR HOMEPAGE    *******/

.connect-banner{
  background-image:url(../images/connect-banner.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: $brand-secondary-color;
  font-size: 34px;
  a{
    padding: 26px 0;
    display: block;
    color: $link-color;
  }
  a:hover{
    text-decoration: none;
    color: white;
  }
}

@media(min-width: $mobile-bp){
  background-position: right;
}

/***********  HOMEPAGE  **************/

.homepage{

  h1{
    @include hidden;
    position: absolute;
  }
  
  h2{
    text-transform: uppercase;
    border-bottom: solid 1px #666;
		color: #666;
		margin-top: 0px;
    font-size: 1.3em;
    a{
      color: #666;
      &:hover{
        color: $link-color;
        text-decoration: none;
      }
    }
  }

  @include horizontal_menu;
  li{
    width: 32%;
    padding: 1em;
    margin: 0 0 0.25em 0.5em;
    .views-field-field-event-date, 
    .views-field-field-news-date{
  		font-size: 0.9em;
  		color: #666;
  		text-transform: uppercase;
  	}
  	.views-field-title{
  		font-size: 1.3em;
  		font-weight: bold;
  		line-height: 130%;
  		margin-top: 0.4em;
  	}
  }
}

#block-views-block-homepage-block-1-2{
  margin-bottom: 1.5em;
  li{
    
    background: #1a374e;
    a{
      color: #fff;
      &:hover{
        text-decoration: none;
        color: #666;
      }
    }
    .views-field-title{
      font-size: 1.6em;
      margin-top: 0px;
			font-weight: normal;

		}
  }
}

@media(min-width: $desktop-breakpoint){
  .view-homepage{
    h2,
    .cell .views-field-title,
    .views-field-field-event-date-value,
    .views-field-field-news-date-value{
      font-size: 140%;
    }
  }
  #block-views-homepage-block_2{
    .cell .views-field-title{
      font-size: 170%;
    }
  }

}
