body {
  font-size: 14px;
  font-family: $sans-serif;
}

.watermark{
  background: url(../images/BSIA-watermark.png) no-repeat center;
  background-position: top center;
}

.skiptocontent a{
  height: 1em;
  width: 1em;
  position: absolute;
  overflow: hidden;
  top: auto;
  left: -10000px;
}

.skiptocontent a:focus{
	position: static;
	width: auto;
	height: auto;
}

h1, h2, h3{
  font-weight: normal;
  line-height: 140%;
}

h1{
  font-size: 2.0em;
  color: #000;
  border-bottom: solid 1px $light-grey;
  margin-bottom: 0;
}

h2 {
  font-size: 1.4em;
  color: $header2-color;
  margin: 0 0 0.4em 0;
}

h3{
  font-size: 1.1em;
  margin-bottom: 5px;
}

a{
  text-decoration: none;
  color: $link-color;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: underline;
    transition: all 0.2s ease;
  }
}

img {
  max-width: 100%;
}

main.wrapper {
  border-bottom:1px solid $light-grey; 
}

#content{
  a[href$=".pdf"]:after {
    font-family: FontAwesome;
    content: ' \f1c1';
  }
}



.strong{
  font-weight: bold;
}

.em-light{
  font-style: italic;
  color: $boulder-grey;
}

ul.sitemap-menu{
  
  li{
    list-style: none;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.sitemap .sitemap-box ul{
  margin-top: 20px;
  padding-left: 0px;

  ul{
    margin: 5px 0 15px 30px;
    li{
      font-weight: normal;
    }
  }
} 

.top{
  font-size: 2em;
  margin-top: 1em;

  a{
    text-decoration: none;
    display: block;
    text-align: center;
    &:after{
      content: '\f0aa';
      font-family: fontawesome;
      color: $sunglow-orange;
      cursor: pointer;
    }
    &:hover:after{
        color: $regal-blue;
      }
  }
}

hr{
  @include divider;
  margin: 10px 0 30px 0;
}

