/************ MAIN  ***********/

article{
  line-height: 130%;
  ul, ol{
    margin: 15px;
    padding-left: 15px;
  }
  p{
    margin-bottom: 15px;
  }
}

hr{
  margin: 20px 0;
  border: none;
  border-top: solid 1px $hr-border-color;
}

main {
    padding-top: 1em;
}

.image{
  margin-bottom: 10px;
}

.caption{
  background: #d2d2d2;
  opacity: 0.6;
  color: black;
  margin-top: -22px;
  float: right;
  font-size: 11px;
  padding: 0 5px;
}

ul, ol{
  &.inline{
    margin: 0px;
    li{
      padding: 0 0.2em;
    }
  }
}

.field__label{
  font-weight: normal;
}

 ol.field--ordered-list-style-lower{
    list-style-type: lower-roman;
    color: $list-marker-blue;
    .list-item{
      color: $list-text-grey;
    }
}

.field-group{
  margin-bottom: 10px;
}

.field--name-body{
  margin: 20px 0;
}

.field--name-topics{
  @include type;
  a:hover{
    text-decoration: underline;
  }
}

.field--name-upload{
  h3{
    margin-bottom: 10px;
  }
  span:before{
    font-family: FontAwesome;
    content: '\f019 - ';
  }
}

.date, .location{
  @include type;
  color: $type-grey;
}

.addthis{
  float: right;
  width: 80px;
  height: 16px;
}

.addthis_default_style{font-size: 12px;}

/*****  Person  *****/

.node--type-person{
  .profile{
    display: table;
    width: 100%;
    .image, .contact{
      display: table-cell;
    }
    .image{
      width: 30%;
      img{
        border: solid 10px $image-border-color;
      }
    }
    .contact{
      vertical-align: middle;
      width: 70%;
      text-transform: uppercase;
    }
  }
  .field--name-field-graduate-title{
    font-weight: bold;
  }
  .field--name-program-type, .field--name-field-year-graduated{
    display: inline-block;
    vertical-align: bottom;
  }
  .field--name-program-type{
    .field__items{
      padding-right: 0;
    }
    .field__item:after{
     content: ",";
    } 
  }
}

/*****  Event  *****/

.event-signup-wrapper{
  margin-bottom: 45px;
}
.event-signup{
  position: absolute;
}

.event-registration{
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  line-height: 1.6em;
  &.button{
    @include submit_button;
  }
}

dl.calendar{
  height: 100%;
  z-index: 10;
  cursor: pointer;
  color: #053b5b;
  dd{
    z-index: 10;
    margin-left: 0px;
  }
}

/*****  Publication  *****/
.apply-now{
  @include submit_button;
}

.publication-download {
    width: 180px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 2.0em;
    .field--name-upload span:before{
      content: '';
    }
    a{
      @include submit_button;
      color: white;
      padding: 5px 10px;
      &:hover{
        text-decoration: underline;
      }
    }
}
