/************ MAIN  ***********/

article{
  line-height: 130%;
  ul, ol{
    margin: 15px;
    padding-left: 15px;
  }
  p{
    margin-bottom: 15px;
  }
}

hr, .row-divider{
  @include divider;
}

main{
    padding-top: 1em;
}

.image{
  margin-bottom: 10px;
}

.caption{
  background: #d2d2d2;
  opacity: 0.6;
  color: black;
  margin-top: -22px;
  float: right;
  font-size: 11px;
  padding: 0 5px;
}

ul, ol{
  &.inline{
    margin: 0px;
    li{
      padding: 0 0.2em;
    }
  }
}

.date,
.location,
.authors,
.speakers,
.type,
.field--name-field-published-date, 
.views-field-publication-type{
  @include type;
  color: $type-grey;
}

.addthis{
  float: right;
  width: 80px;
  height: 16px;
}

.addthis_default_style{font-size: 12px;}

.pager{
  .pager__item{
    padding: 0.4em;

    a{
      padding: 4px 8px;
      border: solid 1px #d2d2d2;
      border-radius: 15px;
      background: #f2f7f2;
      &:hover{
        text-decoration: none;
        background: #ccdae3;
      }
    }
    &.is-active a{
       background: #ccdae3;
    }
  }
}


article{
  .field__label{
    font-weight: normal;
  }

   ol.field--ordered-list-style-lower{
      list-style-type: lower-roman;
      color: $list-marker-blue;
      .list-item{
        color: $list-text-grey;
      }
  }

  .field-group{
    margin-bottom: 10px;
  }

  .field--name-field-short-description{
    margin-top: 10px;
  }

  .field--name-topics{
    @include type;
    a:hover{
      text-decoration: underline;
    }
  }

  .field--name-upload{
    h3{
      margin-bottom: 10px;
    }
    span:before{
      font-family: FontAwesome;
      content: '\f019 - ';
    }
  }
}
.view-content{
  margin-bottom: 20px;
}

.node--view-mode-teaser,
.view-content{
  .profile{
    margin-bottom: 10px;
    h2{
        font-size: 1.4em;
        margin-bottom: 0.6em;
        line-height: 125%;
      }
    .image{
      float: left;
      border: solid 5px $image-border-color;
    }
    .text{
      float: left;
      width: 70%;
    }
    .text-full{
      width: 100%;
    }

  }
}

.region-content-header{
  @include header_box;
  color: $light-grey-text;
}

/*****  Event  *****/

.event-signup-wrapper{
  margin-bottom: 45px;
}
.event-signup{
  position: absolute;
}

.event-registration{
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  line-height: 1.6em;
  &.button{
    @include submit_button;
  }
}

dl.calendar{
  height: 100%;
  z-index: 10;
  cursor: pointer;
  color: #053b5b;
  dd{
    z-index: 10;
    margin-left: 0px;
  }
}

/*****  Publication  *****/

.metadata{
  margin-bottom: 10px;
}

.apply-now{
  @include submit_button;
  a{
    color: white;
    &:hover{
      text-decoration: underline;
    }
  }
}

.publication-download {
    width: 180px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 2.0em;
    .field--name-upload span:before{
      content: '';
    }
    a{
      @include submit_button;
      color: white;
      padding: 5px 10px;
      &:hover{
        text-decoration: underline;
      }
    }
}



/*****  News and Events  *****/


.region-right-sidebar{
  .views-element-container{
    .views-row{
      margin-bottom: 10px;
    }

    .views-field-title,
    .views-field-field-event-date{
      padding-bottom: 5px;
    }
  
    .views-field-publication-type{
      a{
        color: $list-text-grey;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    .views-field-field-event-date{
      @include type;
    }
    @include sidebar_link;

    background: #D1DEE2;
    border: solid 5px #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;

    h2{
      color: $header2-color;
      font-size: 20px;
    }
 
  }
}

.views-row article,
.views-row .research-listing,
.view-faculty .views-row,
.view-students.view-display-id-page_2 .views-row,
.view-students.view-display-id-page_3 .views-row,
.view-students.view-display-id-page_5 .views-row,
.view-students.view-display-id-page_6 .views-row{
  @include divider
}

.teaser-text{
  h2{
    font-size: 20px;
  }
}

.datemark {
  float: right;
  width: 90px;
  height: 90px;
  padding: 10px;
  margin-bottom: 10px;
  background: #f1f1f1;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;

  .month, .year{
    font-size: 14px;
  }
  .day{
    font-size: 35px;
    line-height: 35px;
  }
}

/*****  Research  *****/

.research-listing{
  display: table;
  width: 100%;

  .views-row{
    margin-bottom: 20px;
  }

  h2{
    font-size: 18px;
  }
  h3{
    @include type(12px);
    color: $type-grey;
    border-bottom: solid 1px $hr-border-color;
    margin: 20px 0 10px 0;
  }
  
  .circle-image, .description{
    display: table-cell;
  }
  .circle-image{
    float:left;
    position: relative;
    width: 20%;
    img{
      border: solid 1px #19374f;
      border-radius: 50px;
    }
    a{
      display: block;
      overflow: auto;
    }
  }
  .description{
    width: 80%;
    overflow: auto;
  }
  .short-description{
    margin-bottom: 20px;
  }
}

.related-publications{
  .field__item{
    margin-bottom: 10px;
  }
  margin-bottom: 20px;
}

.related-publications, .related-members{
  h2{
    @include type;
    color: $type-grey;
    border-bottom: solid 1px $hr-border-color;
    margin: 20px 0 10px 0;
  }
  .member-list{
    @include type;
   
  }
}

