@mixin clearfloat{
  content:'';
  display:block;
  clear: both;
}

@mixin horizontal_menu{
  ul {
  	list-style:none;
    padding: 0px;

    li{
      list-style: none;
      list-style-image: none;
      float:left;
  
      &.menu-item--expanded{
        ul{
          display: none;
        }
      }
    }
    &:after{
      @include clearfloat;
    }
  }
}

@mixin hidden{
  text-indent: -9999px;
}

@mixin link{
  a{
    color: $link-color;
    &:hover{
      color: $link-hover-color;
    }
  }
}

@mixin sidebar_link{
  a{
    color: $sidebar-link-color;
    &:hover{
      text-decoration: underline;
    }
  }
}

@mixin divider{
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 1px $hr-border-color;
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin desktop_header{
  a.logo{
      padding: 50px 0 50px 0;
      width: 680px;
      background: url('../images/bsia-logo-2015.png') no-repeat left;
  }
  a.logo{
    @include image-2x('../images/bsia-logo-2015x2.png', 680px, 72px);
  }
  .search{
      display: block;
      text-align: right;
  }
}

@mixin desktop_nav{
  background: $regal-blue;
  display: block;

  @include horizontal_menu;
  nav ul {
    margin: 0;
    padding-top: 6.5px;
    li{
      font-size: 13px;
      line-height: 33px;
      padding: 0 13px;

      background:url(../images/nav-separator.gif) no-repeat 0 13px;
      a {
        color:$nav-link-color;
        padding: 0;
        &:hover, &:focus{
          background: none;
          border-radius: none;
          text-decoration: underline;
        }
      }
    }
    li a.is-active  + ul{
      // display: none;
    }
  }
}

@mixin type($font-size: 12px){
  text-transform: uppercase;
  font-size: $font-size;
}

@mixin submit_button{
  background: $sunglow-orange;
  width: 120px;
  
  font-size: 1.0em;
  line-height: 1.8em;
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;
  
  cursor: pointer;
  border: 1px solid $light-grey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
 
}

@mixin search_form_input{
  -webkit-appearance: textfield;
    font-family: $sans-serif;
    color: $form-input-color;
    text-transform: uppercase;
    font-size: 13px;
    border: solid 1px $form-input-color;
    border-radius: 5px;
    float: left;
    padding: 5px;
}

@mixin search_form_submit{
  @include hidden;
  border: none;
  background-color: none;
  background-image: url("../images/search-icon.png");
  margin-left: -20px;
  margin-top: 20px;
  height: 15px;
  width: 15px;
}

@mixin header_box{
  border: 1px solid $light-grey;
  background-color: $dew-green;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}