/*****  Person  *****/
.node--type-person.node--view-mode-full{

  .profile{
    display: table;
    width: 100%;
    margin-bottom: 20px;

    h2{
      font-size: 18px;
      margin-bottom: 0px;
    }

    .image, .contact, .text{
      display: table-cell;
    }
    .image{
      border: solid 10px $image-border-color;
      width: 28%;
      img{
        display: block;
      }
      
    }
    .contact{
      padding-left: 20px;
      vertical-align: middle;
      text-transform: uppercase;
    }
    .description{
      margin-bottom: 10px;
    }
  }
}

.position{
    font-style: italic;
    color: $type-grey;
    font-size: 0.95em;
    line-height: 100%;
    margin-bottom: 10px;
  }

.node--type-person{
  .field--name-field-graduate-title{
    font-weight: bold;
  }
  .field--name-program-type, .field--name-field-year-graduated{
    display: inline-block;
    vertical-align: bottom;
  }
  .field--name-program-type{
    .field__items{
      padding-right: 0;
    }
    .field__item:after{
     content: ",";
    } 
  }

  .notice-box{
    text-align: center;
    background: $mint-green;
    border: solid 1px $light-grey;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    width: 95%;
  }

  .social{
    font-size:16px;
    
    div{
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.node--type-person.node--view-mode-teaser,
.view-faculty .view-content,
.view-students .view-content{
  .profile{
     h2{
        font-size: 1.2em;
      }
    .text{
      width: 78%;
    }
  }
}

.view-people{
  .view-header{
    @include header_box;
  }
}

#block-exposedformfacultypage-2{
 
  .form-text{
    width: 200px;
    padding: 3px;
    font-size: 14px;
  }
  .form-actions{
    @include hidden;
    position: absolute;
    margin: 0px;
  }
  .search-description{
    font-style: italic;
  }

  #edit-submit-faculty {
    display: none;
  }  
}

#block-exposedformstudentspage-2{
  #edit-keys--2{
    width: 200px;
    padding: 3px;
    font-size: 14px;
  }

  .search-description{
    font-style: italic;
  }
}

#block-views-block-faculty-block-1{
  border-top: solid 1px $hr-border-color;
  border-bottom: solid 1px $hr-border-color;
  margin: 10px 0;

  .search-by-letter{
    margin-top: 20px;
    
    span{
      padding: 0 3px;
      
      a {
        
        &:hover, &.active {
          color: $nobel-grey;
          text-decoration: none;
        

        }
      }
    }
    
    .showall{
      margin-right: 10px; 
    }

  }

}

#clear-button{
    background: none;
    border: none;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 500;
    color: $mishka-blue;
}

#views-exposed-form-faculty-page-2 {
  .form-item {
    position: relative;
  }
}

#views-exposed-form-students-page-2{
  .form-item {
    position: relative;
  }

  label{
    @include hidden;
    position: absolute;
  }
  .form-text{
    width: 200px;
    padding: 3px;
    font-size: 14px;
  }
  .form-submit{
    padding: 0 5px;
    border: 1px solid $light-grey;
    background: $white-smoke;
    color: $regal-blue;
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 0px;
    height: 24px;
  }
  .form-actions{
    display: inline-block;
  }
}

.students-all-programs{
  h3{
    margin-top: 20px;
    font-size: 1.3em;
  }
  .fa-list-ul{
    font-size: 14px;
    margin-left: 10px;
    color: $program-header-icon-color;
  }
}

.view-students.view-display-id-page_4{
  h3 {
    font-size: 1.3em;
    &:before{
      content:'Graduates in ';
    }
  }
}

ul.student-list{
  li{
    display: inline-block;
  }
  hr{
    margin: 10px 0 5px 0;
  }
  margin-bottom: 40px;
}

.student{
  margin-right: 10px;
  .student-photo{
    text-align: center;
    width:85px;
  }
  .student-name{
    text-transform: uppercase;
    font-size: 9px;
    margin: 5px 0;
  }
  .image-wrapper{
    .image{
      margin: 0 auto;
      width: 60px;
      padding: 4px;
      background: $gainsboro-grey;
      height: 58px;
      cursor: pointer;
      opacity: 0.8;
    }
  }
  
  .description{
    clear: both;
  }
  &.unselected-student{
    opacity: 0.5;
  }
  &.unselected-student:hover{
    opacity: 1.0;
  }
}

.student-description{
  display: none;
  position: relative;
  background: $student-description-box-color;
  margin: 15px 0 20px 0;
  padding: 15px 20px 10px;
  border: 1px solid $hr-border-color;
  border-radius: 3px;

  .close{
    float: right;
    font-size: 20px;
    cursor: pointer;
  }

  .uparrowdiv{
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    background: $student-description-box-color;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-left: 1px solid $hr-border-color;
    border-top: 1px solid $hr-border-color;
    
    top: -10px;
  }

  .program{
    font-style: italic;
    color: $light-grey-text;
    font-size: 1.0em;
    margin-bottom: 5px;
  }
  .description{
    font-size: 1.0em;
    margin-bottom: 10px;
  }
  h2{
    font-size: 1.2em;
  }
  .view-profile{
    @include type;
    margin-bottom: 5px;
  }
  a:hover{
    text-decoration: underline;
  }
}

/* person's publications */
.field--type-field-collection {

  .field__label {
    font-size: 1.4em;
    margin:0 0 0.4em 0;
    color:$header2-color;
  }

  li .list-item {
    padding: 2px 0;

    span:after {
      content:".";
    }
    span span:after {
      content:"";
    }
  }

}
