$desktop-breakpoint: 992px;
$mobile-bp: 940px;

$sans-serif: Arial, Helvetica, sans-serif;

$brand-primary-color: #19374f; /* blue */
$brand-secondary-color: #fed130; /* yellow */

//$link-color: #1A374E;
$link-color: #053b5b;
$link-hover-color: #58595B;
$sidebar-link-color: #053b5b;

$header2-color: #053b5b;

$list-marker-blue: #053b5b;
$list-text-grey: #808080;

$type-grey: #666;

$hr-border-color: #d2d2d2;

$header-bg-color: #d9dfe3;
$nav-bg-color: $brand-primary-color;
$nav-link-color: #fff;
$nav-link-active-color: #ccc;

$footer-link-color: #666;
$footer-link-hover-color: #1A374E;

$form-input-color: #999;

$system-button-bg-color: #999;

$image-border-color: #ddd;

$label-grey: #a3a29e;

