$desktop-breakpoint: 992px;
$mobile-bp: 940px;

$sans-serif: Arial, Helvetica, sans-serif;

$brand-primary-color: #19374f; /* blue */
$brand-secondary-color: #fed130; /* yellow */

$link-color: #1A374E;
$link-hover-color: #58595B;

$header-bg-color: #d9dfe3;
$nav-bg-color: $brand-primary-color;
$nav-link-color: #ffffff;
$nav-link-active-color: #cccccc;

$footer-link-color: #666;
$footer-link-hover-color: #1A374E;

$form-input-color: #999;
