$desktop-breakpoint: 992px;
$mobile-bp: 940px;
$tiny-mobile-bp: 360px;



$sans-serif: Arial, Helvetica, sans-serif;

$sunglow-orange: #fecd2f;
$dark-tangerine: #fbad18;

$paris-green: #cbcecb;
$mint-green: #dff2d5;

$white-smoke: #f2f2f2;
$dew-green: #f2f7f2;
$oyster-blue: #ccdae3;
$lake-water-blue: #D1DEE2;
$mishka-blue: #9DA5B2;

$very-light-grey: #cccccc;
$light-grey: #d2d2d2;
$gainsboro-grey: #dddddd;
$zircon-grey: #d9dfe3;
$mortar-grey: #5a5a5a;
$dim-grey: #666;
$bright-grey: #58595B;
$boulder-grey: #7e7f7e;
$grey: #808080;
$nobel-grey: #999999;
$mountain-mist-grey: #a3a29e;


$regal-blue: #19374f;
$sapphire: #053b5b;



$brand-primary-color: $regal-blue; 
$brand-secondary-color: $sunglow-orange; 


$link-color: $sapphire;
$link-hover-color: $bright-grey;
$sidebar-link-color: $sapphire;
$header2-color: $sapphire;
$list-marker-blue: $sapphire;

$list-text-grey: $grey;

$type-grey: $dim-grey;
$light-grey-text: $boulder-grey;
$extralight-grey-text: $paris-green;

$hr-border-color: $light-grey;

$student-description-box-color: $dew-green;
$program-header-icon-color: $mishka-blue;

$header-bg-color: $zircon-grey;
$nav-bg-color: $regal-blue;
$nav-link-color: #fff;
$nav-link-active-color: $very-light-grey;

$footer-link-color: $dim-grey;
$footer-link-hover-color: $regal-blue;

$form-input-color: $nobel-grey;
$form-input-bg-color: $lake-water-blue;

$system-button-bg-color: $nobel-grey;

$image-border-color: $gainsboro-grey;

$label-grey: $mountain-mist-grey;

