/* blue */
/* yellow */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Attribute selector */
[class*='cols-'] {
  float: left;
  padding: 10px; }
  [class*='cols-'].no-padding {
    padding: 0px; }

/* Floats last ".cols-" to the right */
[class*='cols-']:last-of-type {
  padding-right: 0.625em;
  float: right; }

.wrapper {
  margin: 0 auto;
  max-width: 940px; }

/* Clearfix */
.row:after {
  content: "";
  display: table;
  clear: both; }

.non-mobile {
  min-width: 941px; }

.cols-1,
.cols-2,
.cols-3,
.cols-4,
.cols-5,
.cols-6 {
  width: 100%; }

.cols-lg-1 {
  width: 16.67%; }

.cols-lg-2 {
  width: 33.33%; }

.cols-lg-3 {
  width: 50%; }

.cols-lg-4 {
  width: 66.67%; }

.cols-lg-5 {
  width: 83.33%; }

.cols-lg-6 {
  width: 100%; }

@media (min-width: 940px) {
  .wrapper {
    min-width: 940px; }

  .cols-1 {
    width: 16.67%; }

  .cols-2 {
    width: 33.33%; }

  .cols-3 {
    width: 50%; }

  .cols-4 {
    width: 66.67%; }

  .cols-5 {
    width: 83.33%; }

  .cols-6 {
    width: 100%; } }
body {
  font-size: 0.8125em;
  font-family: Arial, Helvetica, sans-serif; }

.watermark {
  background: url(../_images/BSIA-watermark.png) no-repeat center;
  background-position: top center; }

.skiptocontent a {
  height: 1em;
  width: 1em;
  position: absolute;
  overflow: hidden;
  top: auto;
  left: -10000px; }

.skiptocontent a:focus {
  position: static;
  width: auto;
  height: auto; }

ul li.expanded, ul li.collapsed, ul li.leaf {
  list-style-type: none;
  list-style-image: none; }

img {
  width: 100%;
  height: auto; }

h1, h2, h3 {
  font-weight: normal;
  line-height: 140%; }

h1 {
  font-size: 1.2em;
  color: #000;
  padding: 0.4em 0 1.5em 0;
  border-bottom: solid 1px #d2d2d2;
  margin: 0 0 1.5em 0; }

h2 {
  font-size: 1.1em;
  color: #053b5b; }

h3 {
  font-size: 1.0em; }

@media (min-width: 940px) {
  h1, h2, h3 {
    font-size: 130%; } }
.strong {
  font-weight: bold; }

.em-light {
  font-style: italic;
  color: #7e7f7e; }

/*******   CONNECT BANNER FOR HOMEPAGE    *******/
.connect-banner {
  background: url(../_images/connect-banner.png) no-repeat center #fed130; }
  .connect-banner a {
    padding: 0.5em;
    font-size: 2.6em;
    display: block;
    color: #1A374E; }
  .connect-banner a:hover {
    text-decoration: none;
    color: white; }

@media (min-width: 940px) {
  background-position: right; }
/*******   FOOTER    *******/
footer {
  text-transform: uppercase;
  color: #666;
  font-size: 0.835em;
  padding: 1.0em 0; }
  footer a {
    color: #1A374E; }
    footer a:hover {
      color: #58595B; }
  footer ul {
    list-style: none;
    padding: 0px; }
    footer ul li {
      list-style-image: none;
      float: left; }
      footer ul li.expanded, footer ul li.collapsed, footer ul li.leaf {
        list-style-image: none;
        list-style-type: none; }
    footer ul:after {
      content: '';
      display: block;
      clear: both; }
  footer .contact .sharelinks {
    float: left;
    font-size: 3em; }
    footer .contact .sharelinks li {
      padding: 0.2em 0.5em; }
  footer .contact .footer-menu {
    margin-top: 1.8em;
    float: right; }
    footer .contact .footer-menu ul.links li {
      padding: 0 0.8em;
      border-right: solid 1px #666; }
      footer .contact .footer-menu ul.links li.last {
        border: none; }
      footer .contact .footer-menu ul.links li.first {
        padding-left: 0px; }
      footer .contact .footer-menu ul.links li a {
        color: #666; }
        footer .contact .footer-menu ul.links li a:hover {
          color: #1A374E; }
  footer .partners {
    text-indent: -9999px; }
    footer .partners ul {
      display: table;
      margin: auto; }
      footer .partners ul li {
        margin-right: 1em; }
      footer .partners ul li:last {
        margin-right: 0; }
    footer .partners a.wlu-logo {
      width: 100px;
      height: 45px;
      background: url("../images/bsia-partners-2014.png") no-repeat 5%;
      display: block; }
    footer .partners a.cigi-logo {
      width: 105px;
      height: 45px;
      background: url("../images/bsia-partners-2014.png") no-repeat 45%;
      display: block; }
    footer .partners a.uw-logo {
      width: 145px;
      height: 45px;
      background: url("../images/bsia-partners-2014.png") no-repeat 100%;
      display: block; }
    footer .partners a:hover {
      opacity: 0.6; }
  footer .copyright {
    display: table;
    margin: auto; }
  @media (min-width: 940px) {
    footer .contact .sharelinks, footer .contact .footer-menu {
      float: none; }
    footer .partners {
      margin-top: 1em; }
      footer .partners ul {
        display: block;
        margin: 0;
        float: right; }
    footer .copyright {
      margin: 0;
      display: block; } }

/***********  HOMEPAGE  **************/
.view-homepage h2 {
  text-transform: uppercase;
  border-bottom: solid 1px #666;
  color: #666;
  margin-top: 0px; }
  .view-homepage h2 a {
    color: #666; }
    .view-homepage h2 a:hover {
      color: #1A374E;
      text-decoration: none; }
.view-homepage ul {
  list-style: none;
  padding: 0px; }
  .view-homepage ul li {
    list-style-image: none;
    float: left; }
    .view-homepage ul li.expanded, .view-homepage ul li.collapsed, .view-homepage ul li.leaf {
      list-style-image: none;
      list-style-type: none; }
  .view-homepage ul:after {
    content: '';
    display: block;
    clear: both; }
.view-homepage .cell {
  padding: 0em; }
  .view-homepage .cell .views-field-field-event-date-value,
  .view-homepage .cell .views-field-field-news-date-value {
    font-size: 0.9em;
    color: #666;
    text-transform: uppercase; }
  .view-homepage .cell .views-field-title {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 130%;
    margin-top: 0.4em; }

#block-views-homepage-block_2 {
  margin-bottom: 1.5em; }
  #block-views-homepage-block_2 .cell {
    padding: 1em;
    background: #1a374e; }
    #block-views-homepage-block_2 .cell a {
      color: #fff; }
      #block-views-homepage-block_2 .cell a:hover {
        text-decoration: none;
        color: #666; }
    #block-views-homepage-block_2 .cell .views-field-title {
      font-size: 1.3em;
      margin-top: 0px;
      font-weight: normal; }

@media (min-width: 992px) {
  .view-homepage h2,
  .view-homepage .cell .views-field-title,
  .view-homepage .views-field-field-event-date-value,
  .view-homepage .views-field-field-news-date-value {
    font-size: 140%; }

  #block-views-homepage-block_2 .cell .views-field-title {
    font-size: 170%; } }
/************ MAIN  ***********/
main {
  padding-top: 1em; }

/*****  HEADER   ******/
header {
  background-color: #d9dfe3; }
  header a.logo {
    display: block;
    text-indent: -9999px;
    padding: 2.5em 0;
    background: url("../images/bsia-logo-2015.png") no-repeat 10px;
    width: 300px;
    background-size: 175% auto; }
  header .search {
    display: none; }
  header .main-nav {
    font-size: 2em;
    margin: 1.0em 0;
    color: #1A374E;
    text-align: center; }
    header .main-nav:hover {
      cursor: pointer; }
  @media (min-width: 940px) {
    header a.logo {
      padding: 3.5em 0 3em 0;
      width: 680px;
      background: url("../images/bsia-logo-2015.png") no-repeat left; } }
@media (min-width: 940px) and (min--moz-device-pixel-ratio: 1.3), (min-width: 940px) and (-o-min-device-pixel-ratio: 2.6 / 2), (min-width: 940px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 940px) and (min-device-pixel-ratio: 1.3), (min-width: 940px) and (min-resolution: 1.3dppx) {
  header a.logo {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/bsia-logo-2015x2.png");
    background-size: 680px 72px; } }
  @media (min-width: 940px) {
    header .search {
      display: block;
      text-align: right; } }
  .non-mobile header a.logo {
    padding: 3.5em 0 3em 0;
    width: 680px;
    background: url("../images/bsia-logo-2015.png") no-repeat left; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .non-mobile header a.logo {
      /* on retina, use image that's scaled by 2 */
      background-image: url("../images/bsia-logo-2015x2.png");
      background-size: 680px 72px; } }
  .non-mobile header .search {
    display: block;
    text-align: right; }

/***********  MAIN NAV  **************/
#main-menu {
  background: url(../_images/BSIA-watermark.png) no-repeat center;
  background-position: top center;
  border-top: solid 1px #19374f;
  border-bottom: solid 1px #d9dfe3;
  text-transform: uppercase; }
  #main-menu .cols-6 {
    padding-top: 0px;
    padding-bottom: 0px; }
  #main-menu nav ul li {
    font-size: 1.2em;
    padding: 0.3em 0;
    text-align: right; }
    #main-menu nav ul li a {
      padding: 0.3em 0.5em;
      text-decoration: none; }
      #main-menu nav ul li a:hover, #main-menu nav ul li a:focus {
        background: #d9dfe3;
        border-radius: 0.13em; }
  @media (min-width: 940px) {
    #main-menu {
      background: #19374f;
      display: block; }
      #main-menu ul {
        list-style: none;
        padding: 0px; }
        #main-menu ul li {
          list-style-image: none;
          float: left; }
          #main-menu ul li.expanded, #main-menu ul li.collapsed, #main-menu ul li.leaf {
            list-style-image: none;
            list-style-type: none; }
        #main-menu ul:after {
          content: '';
          display: block;
          clear: both; }
      #main-menu nav ul {
        margin: 0; }
        #main-menu nav ul li {
          font-size: 1.0em;
          line-height: 2.5em;
          background: url(../images/nav-separator.gif) no-repeat 0 0.846em; }
          #main-menu nav ul li a {
            color: #ffffff;
            padding: 0; }
            #main-menu nav ul li a.active {
              color: #cccccc; }
        #main-menu nav ul li.expanded, #main-menu nav ul li.collapsed, #main-menu nav ul li.leaf {
          padding: 0 1.154em; }
        #main-menu nav ul li.expanded ul {
          display: none; } }
  .non-mobile #main-menu {
    background: #19374f;
    display: block; }
    .non-mobile #main-menu ul {
      list-style: none;
      padding: 0px; }
      .non-mobile #main-menu ul li {
        list-style-image: none;
        float: left; }
        .non-mobile #main-menu ul li.expanded, .non-mobile #main-menu ul li.collapsed, .non-mobile #main-menu ul li.leaf {
          list-style-image: none;
          list-style-type: none; }
      .non-mobile #main-menu ul:after {
        content: '';
        display: block;
        clear: both; }
    .non-mobile #main-menu nav ul {
      margin: 0; }
      .non-mobile #main-menu nav ul li {
        font-size: 1.0em;
        line-height: 2.5em;
        background: url(../images/nav-separator.gif) no-repeat 0 0.846em; }
        .non-mobile #main-menu nav ul li a {
          color: #ffffff;
          padding: 0; }
          .non-mobile #main-menu nav ul li a.active {
            color: #cccccc; }
      .non-mobile #main-menu nav ul li.expanded, .non-mobile #main-menu nav ul li.collapsed, .non-mobile #main-menu nav ul li.leaf {
        padding: 0 1.154em; }
      .non-mobile #main-menu nav ul li.expanded ul {
        display: none; }

/*******  SEARCH Block   *******/
.search {
  float: right;
  margin-top: 23%; }
  .search .form-item,
  .search .form-submit {
    float: left; }
  .search #search-block-form input[type=search] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    color: #999;
    text-transform: uppercase;
    border: solid 1px #999;
    border-radius: 5px;
    float: left;
    padding: 5px; }
  .search .form-submit {
    text-indent: -9999px;
    border: none;
    background-color: none;
    background-image: url("../images/search-icon.png");
    margin-left: -25px;
    margin-top: 7px;
    height: 15px;
    width: 15px; }

/******  Gallery  ******/
#gallery {
  overflow: hidden; }
  #gallery .gallery {
    position: relative; }
  #gallery .box {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    background: #19374f;
    background: rgba(25, 55, 79, 0.9);
    padding: 1.15em; }
    #gallery .box a {
      font-size: 1.1em;
      color: #fff;
      text-decoration: none;
      display: block; }
      #gallery .box a .label {
        color: #a3a29e; }
  #gallery .bx-wrapper .bx-pager,
  #gallery .bx-wrapper .bx-controls-auto {
    margin-top: -1.0em;
    float: right; }
  #gallery .bx-wrapper .bx-pager {
    font-size: 1.0em;
    font-family: Arial;
    font-weight: bold;
    color: #fbad18; }
  #gallery .bx-wrapper .bx-pager .bx-pager-item,
  #gallery .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline; }
  #gallery .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fbad18;
    text-indent: -500em;
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.4em;
    outline: 0;
    border-radius: 1em;
    behavior: url(/sites/all/themes/bsia/_styles/PIE/PIE.php); }
  #gallery .bx-wrapper .bx-pager.bx-default-pager a:hover,
  #gallery .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #666; }
  #gallery #prev a,
  #gallery #next a {
    position: absolute;
    top: 30%;
    font-family: FontAwesome;
    color: #fbad18;
    width: 1em;
    height: 1em;
    font-size: 2.5em;
    text-align: center; }
    #gallery #prev a:hover,
    #gallery #next a:hover {
      color: #666; }
  #gallery #prev a {
    left: 0.5em; }
  #gallery #next a {
    right: 0.5em; }
  #gallery #next a:hover, #gallery #prev a:hover {
    text-decoration: none; }
  @media (min-width: 940px) {
    #gallery .box {
      font-size: 120%; }
    #gallery #prev a,
    #gallery #next a {
      top: 40%; } }
  @media (min-width: 940px) {
    #gallery .box {
      width: 40%;
      font-size: 140%; }
    #gallery .box-top-left {
      top: 5%;
      left: 12%; }
    #gallery .box-top-right, #gallery .box- {
      top: 10%;
      left: 55%; }
    #gallery .box-bottom-right {
      top: 30%;
      left: 55%; }
    #gallery .box-bottom-left {
      top: 30%;
      left: 12%; }
    #gallery #prev a,
    #gallery #next a {
      top: 45%; } }

/*# sourceMappingURL=styles.css.map */
