/* blue */
/* yellow */
#block-bsia-local-tasks {
  margin-bottom: 0.5em; }
  #block-bsia-local-tasks nav ul li {
    display: inline-block; }
    #block-bsia-local-tasks nav ul li a {
      text-decoration: none;
      padding: 0.5em 1.5em;
      color: black;
      border: solid 1px #999;
      display: block; }
      #block-bsia-local-tasks nav ul li a:hover {
        background: #999; }

/* MOBILE GRID */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Float all columns next to each other */
[class*='col-'] {
  float: left;
  padding: 10px; }
  [class*='col-'].no-padding {
    padding: 0px; }

/* Floats last ".cols-" to the right */
[class*='col-']:last-of-type {
  padding-right: 0.625em;
  float: right; }

.wrapper {
  margin: 0 auto;
  max-width: none !important;
  width: 940px; }

/* Clearfix */
.row:after {
  content: "";
  display: table;
  clear: both; }

/*
.cols-1,
.cols-2,
.cols-3,
.cols-4,
.cols-5,
.cols-6{
  width: 100%;
}

.cols-lg-1  {width: 16.67%;}
.cols-lg-2  {width: 33.33%;}
.cols-lg-3  {width: 50%;}
.cols-lg-4  {width: 66.67%;}
.cols-lg-5  {width: 83.33%;}
.cols-lg-6  {width: 100%;}

@media (min-width: $mobile-bp){
*/
.col-1 {
  width: 16.67%; }

.col-2 {
  width: 33.33%; }

.col-3 {
  width: 50%; }

.col-4 {
  width: 66.67%; }

.col-5 {
  width: 83.33%; }

.col-6 {
  width: 100%; }

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif; }

.watermark {
  background: url(../images/BSIA-watermark.png) no-repeat center;
  background-position: top center; }

.skiptocontent a {
  height: 1em;
  width: 1em;
  position: absolute;
  overflow: hidden;
  top: auto;
  left: -10000px; }

.skiptocontent a:focus {
  position: static;
  width: auto;
  height: auto; }

h1, h2, h3 {
  font-weight: normal;
  line-height: 140%; }

h1 {
  font-size: 2.0em;
  color: #000;
  border-bottom: solid 1px #d2d2d2; }

h2 {
  font-size: 1.6em;
  color: #053b5b;
  margin: 0 0 0.4em 0; }

h3 {
  font-size: 1.3em; }

a {
  text-decoration: none;
  color: #053b5b; }

a[href$=".pdf"]:after {
  font-family: FontAwesome;
  content: ' \f1c1'; }

.strong {
  font-weight: bold; }

.em-light {
  font-style: italic;
  color: #7e7f7e; }

/************ MAIN  ***********/
article {
  line-height: 130%; }
  article ul, article ol {
    margin: 15px;
    padding-left: 15px; }
  article p {
    margin-bottom: 15px; }

hr, .row-divider {
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 1px #d2d2d2; }

main {
  padding-top: 1em; }

.image {
  margin-bottom: 10px; }

.caption {
  background: #d2d2d2;
  opacity: 0.6;
  color: black;
  margin-top: -22px;
  float: right;
  font-size: 11px;
  padding: 0 5px; }

ul.inline, ol.inline {
  margin: 0px; }
  ul.inline li, ol.inline li {
    padding: 0 0.2em; }

.date,
.location,
.authors,
.speakers,
.type,
.field--name-field-published-date,
.views-field-publication-type {
  text-transform: uppercase;
  font-size: 12px;
  color: #666; }

.addthis {
  float: right;
  width: 80px;
  height: 16px; }

.addthis_default_style {
  font-size: 12px; }

.pager .pager__item {
  padding: 3px;
  font-size: 13px; }
  .pager .pager__item a {
    padding: 2px 6px;
    border: solid 1px #d2d2d2;
    border-radius: 15px;
    background: #f2f7f2; }
    .pager .pager__item a:hover {
      text-decoration: none;
      background: #ccdae3; }
  .pager .pager__item.is-active a {
    background: #ccdae3; }

article .field__label {
  font-weight: normal; }
article ol.field--ordered-list-style-lower {
  list-style-type: lower-roman;
  color: #053b5b; }
  article ol.field--ordered-list-style-lower .list-item {
    color: #808080; }
article .field-group {
  margin-bottom: 10px; }
article .field--name-field-short-description {
  margin-top: 10px; }
article .field--name-topics {
  text-transform: uppercase;
  font-size: 12px; }
  article .field--name-topics a:hover {
    text-decoration: underline; }
article .field--name-upload span:before {
  font-family: FontAwesome;
  content: '\f019  - '; }

.view-content {
  margin-bottom: 20px; }

.node--view-mode-teaser .profile,
.view-content .profile {
  margin-bottom: 10px; }
  .node--view-mode-teaser .profile h2,
  .view-content .profile h2 {
    font-size: 1.4em;
    margin-bottom: 0.6em;
    line-height: 125%; }
  .node--view-mode-teaser .profile .image,
  .view-content .profile .image {
    float: left;
    border: solid 5px #ddd; }
  .node--view-mode-teaser .profile .text,
  .view-content .profile .text {
    float: left;
    width: 70%; }
  .node--view-mode-teaser .profile .text-full,
  .view-content .profile .text-full {
    width: 100%; }

.region-content-header {
  border: 1px solid #d2d2d2;
  background-color: #f2f7f2;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #7e7f7e; }

/*****  Event  *****/
.event-signup-wrapper {
  margin-bottom: 45px; }

.event-signup {
  position: absolute; }

.event-registration {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  line-height: 1.6em; }
  .event-registration.button {
    background: #FBAD18;
    width: 120px;
    font-size: 1.0em;
    line-height: 1.8em;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

dl.calendar {
  height: 100%;
  z-index: 10;
  cursor: pointer;
  color: #053b5b; }
  dl.calendar dd {
    z-index: 10;
    margin-left: 0px; }

.node--type-event .event-recap a {
  color: white;
  padding: 2px 5px; }
.node--type-event .field__label, .node--type-event h3 {
  font-size: 16px;
  margin: 10px 0;
  color: #19374f; }
.node--type-event .field--name-event-type .field__label {
  font-size: 14px;
  color: black;
  margin: 0; }

.inline-field {
  margin-bottom: 20px; }

/*****  Publication  *****/
.metadata {
  margin-bottom: 10px; }

.apply-now {
  background: #FBAD18;
  width: 120px;
  font-size: 1.0em;
  line-height: 1.8em;
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d2d2d2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .apply-now a {
    color: white; }
    .apply-now a:hover {
      text-decoration: underline; }

.publication-download {
  width: 180px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 1.1em;
  line-height: 2.0em; }
  .publication-download .field--name-upload span:before {
    content: ''; }
  .publication-download a {
    background: #FBAD18;
    width: 120px;
    font-size: 1.0em;
    line-height: 1.8em;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: white;
    padding: 5px 10px; }
    .publication-download a:hover {
      text-decoration: underline; }

/*****  News and Events  *****/
.region-right-sidebar div[id^='block-'] {
  background: #D1DEE2;
  border: solid 5px #f2f2f2;
  padding: 10px;
  margin-bottom: 10px; }
  .region-right-sidebar div[id^='block-'] h2 {
    color: #053b5b;
    font-size: 20px; }
  .region-right-sidebar div[id^='block-'] p {
    margin-bottom: 10px; }
.region-right-sidebar .views-element-container .views-row {
  margin-bottom: 10px; }
.region-right-sidebar .views-element-container .views-field-title,
.region-right-sidebar .views-element-container .views-field-field-event-date {
  padding-bottom: 5px; }
.region-right-sidebar .views-element-container .views-field-publication-type a {
  color: #808080; }
  .region-right-sidebar .views-element-container .views-field-publication-type a:hover {
    text-decoration: underline; }
.region-right-sidebar .views-element-container .views-field-field-event-date {
  text-transform: uppercase;
  font-size: 12px; }
.region-right-sidebar .views-element-container a {
  color: #053b5b; }
  .region-right-sidebar .views-element-container a:hover {
    text-decoration: underline; }

.views-row article,
.views-row .research-listing,
.view-faculty .views-row,
.view-students.view-display-id-page_2 .views-row,
.view-students.view-display-id-page_3 .views-row,
.view-students.view-display-id-page_5 .views-row,
.view-students.view-display-id-page_6 .views-row {
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 1px #d2d2d2; }

.teaser-text h2 {
  font-size: 20px; }

.datemark {
  float: right;
  width: 90px;
  height: 90px;
  padding: 10px;
  margin-bottom: 10px;
  background: #f1f1f1;
  border-radius: 50%;
  text-align: center;
  font-weight: bold; }
  .datemark .month, .datemark .year {
    font-size: 14px; }
  .datemark .day {
    font-size: 35px;
    line-height: 35px; }

/*****  Research  *****/
.research-listing {
  display: table;
  width: 100%; }
  .research-listing .views-row {
    margin-bottom: 20px; }
  .research-listing h2 {
    font-size: 18px; }
  .research-listing h3 {
    text-transform: uppercase;
    font-size: 12px;
    color: #666;
    border-bottom: solid 1px #d2d2d2;
    margin: 20px 0 10px 0; }
  .research-listing .circle-image, .research-listing .description {
    display: table-cell; }
  .research-listing .circle-image {
    float: left;
    position: relative;
    width: 20%; }
    .research-listing .circle-image img {
      border: solid 1px #19374f;
      border-radius: 50px; }
    .research-listing .circle-image a {
      display: block;
      overflow: auto; }
  .research-listing .description {
    width: 80%;
    overflow: auto; }
  .research-listing .short-description {
    margin-bottom: 20px; }

.related-publications {
  margin-bottom: 20px; }
  .related-publications .field__item {
    margin-bottom: 10px; }

.related-publications h2, .related-members h2 {
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
  border-bottom: solid 1px #d2d2d2;
  margin: 20px 0 10px 0; }
.related-publications .member-list, .related-members .member-list {
  text-transform: uppercase;
  font-size: 12px; }

/****   Feature blocks *****/
#block-views-block-students-block-1 .views-row,
#block-views-block-publications-block-2 .views-row {
  overflow: auto;
  position: relative; }
#block-views-block-students-block-1 .view-content,
#block-views-block-publications-block-2 .view-content {
  margin-bottom: 0px; }
#block-views-block-students-block-1 h2,
#block-views-block-publications-block-2 h2 {
  text-transform: uppercase;
  font-size: 12px;
  color: #7e7f7e; }
#block-views-block-students-block-1 .photo, #block-views-block-students-block-1 .featured-item,
#block-views-block-publications-block-2 .photo,
#block-views-block-publications-block-2 .featured-item {
  float: left; }
#block-views-block-students-block-1 .photo,
#block-views-block-publications-block-2 .photo {
  margin-right: 20px; }
#block-views-block-students-block-1 .featured-item,
#block-views-block-publications-block-2 .featured-item {
  color: #666;
  width: 55%; }
  #block-views-block-students-block-1 .featured-item .title,
  #block-views-block-publications-block-2 .featured-item .title {
    color: #7e7f7e;
    margin: 3px 0 5px 0; }
  #block-views-block-students-block-1 .featured-item .title, #block-views-block-students-block-1 .featured-item .feature-line,
  #block-views-block-publications-block-2 .featured-item .title,
  #block-views-block-publications-block-2 .featured-item .feature-line {
    font-style: italic; }
  #block-views-block-students-block-1 .featured-item .type,
  #block-views-block-publications-block-2 .featured-item .type {
    margin: 5px 0; }
    #block-views-block-students-block-1 .featured-item .type a,
    #block-views-block-publications-block-2 .featured-item .type a {
      color: #666; }
      #block-views-block-students-block-1 .featured-item .type a:hover,
      #block-views-block-publications-block-2 .featured-item .type a:hover {
        text-decoration: underline; }
#block-views-block-students-block-1 .profile,
#block-views-block-publications-block-2 .profile {
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 12px; }
  #block-views-block-students-block-1 .profile.video,
  #block-views-block-publications-block-2 .profile.video {
    right: -460px; }
#block-views-block-students-block-1 .profile::before,
#block-views-block-publications-block-2 .profile::before {
  font-family: FontAwesome;
  content: '\f007';
  color: #053b5b;
  margin-right: 5px; }
#block-views-block-students-block-1 .profile.video::before,
#block-views-block-publications-block-2 .profile.video::before {
  content: '\f03d'; }

/****** Connect with Us Form Page ******/
#bsia-connect-form h3 {
  font-size: 16px; }
#bsia-connect-form .form-options fieldset .form-checkboxes {
  margin-left: 40px; }
#bsia-connect-form .form-options .form-item-weekly-bulletin label.option,
#bsia-connect-form .form-options .form-item-campus-tour label.option {
  font-weight: bold; }
#bsia-connect-form .contact-info {
  margin: 40px 0; }
  #bsia-connect-form .contact-info .form-item-contact-title {
    font-style: italic;
    color: #7e7f7e; }
  #bsia-connect-form .contact-info label {
    text-indent: -9999px;
    position: absolute; }
  #bsia-connect-form .contact-info .form-item {
    margin: 5px 0; }
  #bsia-connect-form .contact-info .form-type-textfield, #bsia-connect-form .contact-info .form-type-email {
    display: inline-block;
    margin-right: 20px; }
    #bsia-connect-form .contact-info .form-type-textfield input, #bsia-connect-form .contact-info .form-type-email input {
      color: #999;
      border: solid 1px #d2d2d2;
      background: #d1dee2;
      width: 280px;
      padding: 5px;
      text-transform: uppercase;
      color: #7e7f7e; }
    #bsia-connect-form .contact-info .form-type-textfield input::-webkit-input-placeholder, #bsia-connect-form .contact-info .form-type-email input::-webkit-input-placeholder {
      color: #7e7f7e; }
    #bsia-connect-form .contact-info .form-type-textfield input::-moz-placeholder, #bsia-connect-form .contact-info .form-type-email input::-moz-placeholder {
      color: #7e7f7e; }
    #bsia-connect-form .contact-info .form-type-textfield input:-moz-placeholder, #bsia-connect-form .contact-info .form-type-email input:-moz-placeholder {
      color: #7e7f7e; }
  #bsia-connect-form .contact-info .button {
    margin: 0px;
    background: #FBAD18;
    width: 120px;
    font-size: 1.0em;
    line-height: 1.8em;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100px;
    font-weight: bold; }

#block-connectwithussocial h3 {
  font-size: 16px;
  font-weight: bold; }
#block-connectwithussocial .connect-social {
  margin: 40px auto;
  width: 360px;
  overflow: hidden; }
  #block-connectwithussocial .connect-social .share-link {
    margin-right: 50px;
    float: left; }
    #block-connectwithussocial .connect-social .share-link::last-child {
      margin-right: 0; }
#block-connectwithussocial .social-circle {
  display: block;
  background: #19374f;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px; }
  #block-connectwithussocial .social-circle:hover {
    background: #ccdae3; }
  #block-connectwithussocial .social-circle i {
    color: white;
    font-size: 25px; }
    #block-connectwithussocial .social-circle i.fa-twitter {
      margin: 14px; }
    #block-connectwithussocial .social-circle i.fa-facebook {
      margin: 14px 18px; }
    #block-connectwithussocial .social-circle i.fa-youtube {
      margin: 12px 15px; }

/*** SEARCH ***/
.item-list ol.search-results li {
  margin: 0px;
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 1px #d2d2d2; }
.item-list ol.search-results .search-result__title {
  font-size: 16px; }
.item-list ol.search-results .search-result__snippet-info {
  margin: 10px 0 20px 40px; }

.search-advanced,
.search-help-link {
  display: none; }

.search-page-form {
  font-size: 14px;
  border: 1px solid #d2d2d2;
  background-color: #f2f7f2;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .search-page-form input {
    font-size: 16px; }

/*****  HEADER   ******/
header {
  background-color: #d9dfe3; }
  header a.logo {
    display: block;
    text-indent: -9999px;
    background: url("../images/bsia-logo-2015.png") no-repeat 10px;
    width: 300px;
    background-size: 175% auto; }
  header .search {
    display: none; }
  header .main-nav {
    font-size: 130%;
    color: #053b5b;
    text-align: center; }
    header .main-nav:hover {
      cursor: pointer; }
  @media (min-width: 940px) {
    header a.logo {
      padding: 50px 0 50px 0;
      width: 680px;
      background: url("../images/bsia-logo-2015.png") no-repeat left; } }
@media (min-width: 940px) and (min--moz-device-pixel-ratio: 1.3), (min-width: 940px) and (-o-min-device-pixel-ratio: 2.6 / 2), (min-width: 940px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 940px) and (min-device-pixel-ratio: 1.3), (min-width: 940px) and (min-resolution: 1.3dppx) {
  header a.logo {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/bsia-logo-2015x2.png");
    background-size: 680px 72px; } }
  @media (min-width: 940px) {
    header .search {
      display: block;
      text-align: right; } }
  .non-mobile header a.logo {
    padding: 50px 0 50px 0;
    width: 680px;
    background: url("../images/bsia-logo-2015.png") no-repeat left; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .non-mobile header a.logo {
      /* on retina, use image that's scaled by 2 */
      background-image: url("../images/bsia-logo-2015x2.png");
      background-size: 680px 72px; } }
  .non-mobile header .search {
    display: block;
    text-align: right; }

/***********  MAIN NAV  **************/
#main-menu {
  background: url(../_images/BSIA-watermark.png) no-repeat center;
  background-position: top center;
  border-top: solid 1px #19374f;
  border-bottom: solid 1px #d9dfe3;
  text-transform: uppercase; }
  #main-menu .col-6 {
    padding-top: 0px;
    padding-bottom: 0px; }
  #main-menu nav ul li {
    font-size: 1.2em;
    padding: 0.3em 0;
    text-align: right; }
    #main-menu nav ul li a {
      padding: 0.3em 0.5em;
      text-decoration: none; }
      #main-menu nav ul li a:hover, #main-menu nav ul li a:focus {
        background: #d9dfe3;
        border-radius: 0.13em; }
  @media (min-width: 940px) {
    #main-menu {
      background: #19374f;
      display: block; }
      #main-menu ul {
        list-style: none;
        padding: 0px; }
        #main-menu ul li {
          list-style: none;
          list-style-image: none;
          float: left; }
          #main-menu ul li.menu-item--expanded ul {
            display: none; }
        #main-menu ul:after {
          content: '';
          display: block;
          clear: both; }
      #main-menu nav ul {
        margin: 0;
        padding-top: 6.5px; }
        #main-menu nav ul li {
          font-size: 13px;
          line-height: 33px;
          padding: 0 13px;
          background: url(../images/nav-separator.gif) no-repeat 0 13px; }
          #main-menu nav ul li a {
            color: #fff;
            padding: 0; }
            #main-menu nav ul li a:hover, #main-menu nav ul li a:focus {
              background: none;
              border-radius: none;
              text-decoration: underline; } }
  .non-mobile #main-menu {
    background: #19374f;
    display: block; }
    .non-mobile #main-menu ul {
      list-style: none;
      padding: 0px; }
      .non-mobile #main-menu ul li {
        list-style: none;
        list-style-image: none;
        float: left; }
        .non-mobile #main-menu ul li.menu-item--expanded ul {
          display: none; }
      .non-mobile #main-menu ul:after {
        content: '';
        display: block;
        clear: both; }
    .non-mobile #main-menu nav ul {
      margin: 0;
      padding-top: 6.5px; }
      .non-mobile #main-menu nav ul li {
        font-size: 13px;
        line-height: 33px;
        padding: 0 13px;
        background: url(../images/nav-separator.gif) no-repeat 0 13px; }
        .non-mobile #main-menu nav ul li a {
          color: #fff;
          padding: 0; }
          .non-mobile #main-menu nav ul li a:hover, .non-mobile #main-menu nav ul li a:focus {
            background: none;
            border-radius: none;
            text-decoration: underline; }

/*******  SEARCH Block   *******/
.search {
  float: right;
  margin-top: 16%; }
  .search .form-item,
  .search .form-submit {
    float: left; }
  .search .form-submit {
    text-indent: -9999px;
    border: none;
    background-color: none;
    background-image: url("../images/search-icon.png");
    margin-left: -20px;
    margin-top: 20px;
    height: 15px;
    width: 15px; }
  .search #search-block-form input[type="search"] {
    -webkit-appearance: textfield;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    text-transform: uppercase;
    font-size: 13px;
    border: solid 1px #999;
    border-radius: 5px;
    float: left;
    padding: 5px; }

/*******   FOOTER    *******/
footer {
  text-transform: uppercase;
  color: #666;
  padding: 15px 0;
  font-size: 12px; }
  footer a {
    color: #053b5b; }
    footer a:hover {
      color: #58595B; }
  footer ul {
    list-style: none;
    padding: 0px; }
    footer ul li {
      list-style: none;
      list-style-image: none;
      float: left; }
      footer ul li.menu-item--expanded ul {
        display: none; }
    footer ul:after {
      content: '';
      display: block;
      clear: both; }
  footer .contact .sharelinks {
    font-size: 32px; }
    footer .contact .sharelinks li {
      padding-right: 25px; }
  footer .contact nav {
    margin-top: 22px; }
    footer .contact nav a {
      color: #666;
      text-decoration: none; }
      footer .contact nav a:hover, footer .contact nav a:focus {
        color: #1A374E;
        text-decoration: underline; }
    footer .contact nav ul li {
      padding: 0 5px;
      border-right: solid 1px #666; }
      footer .contact nav ul li:last-child {
        border: none; }
      footer .contact nav ul li:first-child {
        padding-left: 0px; }
  footer .region-footer-menu ul.menu {
    margin: 0px; }
  footer .partners {
    text-indent: -9999px; }
    footer .partners ul {
      display: block;
      margin: 0; }
      footer .partners ul li {
        margin-right: 15px;
        float: right; }
      footer .partners ul li:last {
        margin-right: 0; }
    footer .partners a.wlu-logo {
      width: 100px;
      height: 45px;
      background: url("../images/bsia-partners-2014.png") no-repeat 5%;
      display: block; }
    footer .partners a.cigi-logo {
      width: 105px;
      height: 45px;
      background: url("../images/bsia-partners-2014.png") no-repeat 45%;
      display: block; }
    footer .partners a.uw-logo {
      width: 145px;
      height: 45px;
      background: url("../images/bsia-partners-2014.png") no-repeat 100%;
      display: block; }
    footer .partners a:hover {
      opacity: 0.6; }
  footer .copyright {
    display: block;
    margin: 0; }

/*******   BLOCKS    *******/
/* footer banner */
.footer-banner {
  background-image: url(../images/connect-banner.png);
  background-repeat: no-repeat;
  background-color: #fed130;
  /* connect with us block */ }
  .footer-banner .connect-button {
    font-size: 34px; }
    .footer-banner .connect-button a {
      padding: 17px 0px;
      display: block;
      color: #053b5b; }
    .footer-banner .connect-button a:hover {
      text-decoration: none;
      color: white; }

.right-menu .connect-button {
  background-image: url(../images/connect-button.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 10px; }
  .right-menu .connect-button a {
    padding: 30px 20px;
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
  .right-menu .connect-button a:hover {
    text-decoration: none;
    color: white; }
.right-menu ul.menu:first-child {
  padding: 10px 0;
  margin: 0 0 10px 0; }
.right-menu ul.menu {
  list-style: none;
  background: #19374f;
  text-transform: uppercase;
  font-size: 13px; }
  .right-menu ul.menu .menu-item--expanded {
    list-style-image: none;
    list-style: none; }
  .right-menu ul.menu li {
    padding: 5px 20px; }
    .right-menu ul.menu li a {
      color: white; }
      .right-menu ul.menu li a:hover {
        text-decoration: underline; }
      .right-menu ul.menu li a.is-active {
        color: #ccc; }
      .right-menu ul.menu li a.is-active:hover {
        color: white; }
    .right-menu ul.menu li li {
      padding: 3px 20px; }

/***********  HOMEPAGE  **************/
.homepage h1 {
  text-indent: -9999px;
  position: absolute; }
.homepage h2 {
  text-transform: uppercase;
  border-bottom: solid 1px #666;
  color: #666;
  margin-top: 0px;
  font-size: 1.3em; }
  .homepage h2 a {
    color: #666; }
    .homepage h2 a:hover {
      color: #053b5b;
      text-decoration: none; }
.homepage ul {
  list-style: none;
  padding: 0px; }
  .homepage ul li {
    list-style: none;
    list-style-image: none;
    float: left; }
    .homepage ul li.menu-item--expanded ul {
      display: none; }
  .homepage ul:after {
    content: '';
    display: block;
    clear: both; }
.homepage li {
  width: 32%;
  padding: 1em;
  margin: 0 0 0.25em 0.5em; }
  .homepage li .views-field-field-event-date,
  .homepage li .views-field-field-news-date {
    font-size: 0.9em;
    color: #666;
    text-transform: uppercase; }
  .homepage li .views-field-title {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 130%;
    margin-top: 0.4em; }

#block-views-block-homepage-block-1-2 {
  margin-bottom: 1.5em; }
  #block-views-block-homepage-block-1-2 li {
    background: #1a374e; }
    #block-views-block-homepage-block-1-2 li a {
      color: #fff; }
      #block-views-block-homepage-block-1-2 li a:hover {
        text-decoration: none;
        color: #666; }
    #block-views-block-homepage-block-1-2 li .views-field-title {
      font-size: 1.6em;
      margin-top: 0px;
      font-weight: normal; }

@media (min-width: 992px) {
  .view-homepage h2,
  .view-homepage .cell .views-field-title,
  .view-homepage .views-field-field-event-date-value,
  .view-homepage .views-field-field-news-date-value {
    font-size: 140%; }

  #block-views-homepage-block_2 .cell .views-field-title {
    font-size: 170%; } }
/******  HOMEPAGE GALLERY  ******/
#gallery {
  overflow: hidden; }
  #gallery li {
    padding: 0px;
    margin: 0px;
    width: 100%; }
  #gallery .gallery {
    position: relative; }
  #gallery .box {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    background: #19374f;
    background: rgba(25, 55, 79, 0.9);
    padding: 1.0em; }
    #gallery .box a {
      font-size: 1.0em;
      color: #fff;
      text-decoration: none;
      display: block; }
      #gallery .box a .label {
        color: #a3a29e;
        font-weight: normal; }
  #gallery .bx-wrapper .bx-pager,
  #gallery .bx-wrapper .bx-controls-auto {
    margin-top: -1.0em;
    float: right; }
  #gallery .bx-wrapper .bx-pager {
    font-size: 1.0em;
    font-family: Arial;
    font-weight: bold;
    color: #fbad18; }
  #gallery .bx-wrapper .bx-pager .bx-pager-item,
  #gallery .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline; }
  #gallery .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fbad18;
    text-indent: -500em;
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.4em;
    outline: 0;
    border-radius: 1em;
    behavior: url(/sites/all/themes/bsia/_styles/PIE/PIE.php); }
  #gallery .bx-wrapper .bx-pager.bx-default-pager a:hover,
  #gallery .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #666; }
  #gallery #prev a,
  #gallery #next a {
    position: absolute;
    top: 30%;
    font-family: FontAwesome;
    color: #fbad18;
    width: 1em;
    height: 1em;
    font-size: 2.5em;
    text-align: center; }
    #gallery #prev a:hover,
    #gallery #next a:hover {
      color: #666; }
  #gallery #prev a {
    left: 0.5em; }
  #gallery #next a {
    right: 0.5em; }
  #gallery #next a:hover, #gallery #prev a:hover {
    text-decoration: none; }
  @media (min-width: 940px) {
    #gallery .box {
      font-size: 120%; }
    #gallery #prev a,
    #gallery #next a {
      top: 40%; } }
  @media (min-width: 940px) {
    #gallery .box {
      width: 40%;
      font-size: 140%; }
    #gallery .box-top-left {
      top: 5%;
      left: 12%; }
    #gallery .box-top-right, #gallery .box- {
      top: 10%;
      left: 55%; }
    #gallery .box-bottom-right {
      top: 30%;
      left: 55%; }
    #gallery .box-bottom-left {
      top: 30%;
      left: 12%; }
    #gallery #prev a,
    #gallery #next a {
      top: 45%; } }

/*****  Person  *****/
.profile {
  display: table;
  width: 100%; }
  .profile h2 {
    font-size: 18px;
    margin-bottom: 0px; }
  .profile .position {
    font-style: italic;
    color: #666;
    font-size: 0.95em;
    line-height: 130%;
    margin-bottom: 10px; }
  .profile .image, .profile .contact {
    display: table-cell; }
  .profile .image {
    display: inline-block;
    margin-right: 20px;
    border: solid 10px #ddd; }
    .profile .image img {
      display: block;
      float: left; }
  .profile .contact {
    vertical-align: middle;
    text-transform: uppercase; }
  .profile .description {
    margin-bottom: 10px; }

.node--type-person .field--name-field-graduate-title {
  font-weight: bold; }
.node--type-person .field--name-program-type, .node--type-person .field--name-field-year-graduated {
  display: inline-block;
  vertical-align: bottom; }
.node--type-person .field--name-program-type .field__items {
  padding-right: 0; }
.node--type-person .field--name-program-type .field__item:after {
  content: ","; }

.node--type-person.node--view-mode-teaser .profile h2,
.view-faculty .view-content .profile h2,
.view-students .view-content .profile h2 {
  font-size: 1.2em; }
.node--type-person.node--view-mode-teaser .profile .text,
.view-faculty .view-content .profile .text,
.view-students .view-content .profile .text {
  width: 75%; }

.view-people .view-header {
  border: 1px solid #d2d2d2;
  background-color: #f2f7f2;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

#block-exposedformfacultypage-2 .form-text {
  width: 200px;
  padding: 3px;
  font-size: 14px; }
#block-exposedformfacultypage-2 .form-actions {
  text-indent: -9999px;
  position: absolute;
  margin: 0px; }
#block-exposedformfacultypage-2 .search-description {
  font-style: italic; }

#block-exposedformstudentspage-2 #edit-keys--2 {
  width: 200px;
  padding: 3px;
  font-size: 14px; }

#block-views-block-faculty-block-1 {
  border-top: solid 1px #d2d2d2;
  border-bottom: solid 1px #d2d2d2;
  margin: 10px 0; }
  #block-views-block-faculty-block-1 .search-by-letter {
    margin-top: 20px; }
    #block-views-block-faculty-block-1 .search-by-letter span {
      padding: 0 3px; }
      #block-views-block-faculty-block-1 .search-by-letter span a.active {
        color: #cbcecb; }
    #block-views-block-faculty-block-1 .search-by-letter .showall {
      margin-right: 10px; }

#clear-button {
  background: none;
  border: none;
  position: absolute;
  left: 248px;
  top: 35px;
  z-index: 500;
  color: #9DA5B2; }

#views-exposed-form-students-page-2 label {
  text-indent: -9999px;
  position: absolute; }
#views-exposed-form-students-page-2 #edit-keys--2 {
  width: 200px;
  padding: 3px;
  font-size: 14px; }
#views-exposed-form-students-page-2 .form-submit {
  padding: 0 5px;
  border: 1px solid #D2D2D2;
  background: #F7F6F6;
  color: #036;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 0px;
  height: 24px; }
#views-exposed-form-students-page-2 .form-actions {
  display: inline-block; }

.students-all-programs h3 {
  margin-top: 20px; }
.students-all-programs .fa-list-ul {
  font-size: 14px;
  margin-left: 10px;
  color: #9da5b2; }

ul.student-list {
  margin-bottom: 40px; }
  ul.student-list li {
    display: inline-block; }
  ul.student-list hr {
    margin: 10px 0 5px 0; }

.student {
  margin-right: 10px; }
  .student .student-photo {
    text-align: center;
    width: 85px; }
  .student .student-name {
    text-transform: uppercase;
    font-size: 9px;
    margin: 5px 0; }
  .student .image-wrapper .image {
    margin: 0 auto;
    width: 60px;
    padding: 4px;
    background: #ddd;
    height: 58px;
    cursor: pointer;
    opacity: 0.8; }
  .student .description {
    clear: both; }
  .student.unselected-student {
    opacity: 0.5; }
  .student.unselected-student:hover {
    opacity: 1.0; }

.student-description {
  display: none;
  position: relative;
  background: #f2f7f2;
  margin: 15px 0 20px 0;
  padding: 15px 20px 10px;
  border: 1px solid #d2d2d2;
  border-radius: 3px; }
  .student-description .close {
    float: right;
    font-size: 20px;
    cursor: pointer; }
  .student-description .uparrowdiv {
    display: block;
    height: 20px;
    width: 20px;
    margin-left: 70px;
    background: #f2f7f2;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-left: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    position: absolute;
    top: -10px; }
  .student-description .program {
    font-style: italic;
    color: #7e7f7e;
    font-size: 1.0em;
    margin-bottom: 5px; }
  .student-description .description {
    font-size: 1.0em;
    margin-bottom: 10px; }
  .student-description h2 {
    font-size: 1.2em; }
  .student-description .view-profile {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px; }
  .student-description a:hover {
    text-decoration: underline; }

/*******   CALENDAR    *******/
#block-views-block-event-calendar-block-1 .view-content {
  margin-bottom: 0px; }
#block-views-block-event-calendar-block-1 nav.pager {
  background-color: white;
  border: solid 1px #d2d2d2;
  padding: 5px 0; }
  #block-views-block-event-calendar-block-1 nav.pager ul {
    display: table; }
    #block-views-block-event-calendar-block-1 nav.pager ul li {
      display: table-cell; }
      #block-views-block-event-calendar-block-1 nav.pager ul li.pager__item--previous, #block-views-block-event-calendar-block-1 nav.pager ul li.pager__item--next {
        width: 40px; }
      #block-views-block-event-calendar-block-1 nav.pager ul li.pager__item--current {
        width: 200px;
        text-align: center; }

.calendar-calendar table.mini tr:first-child {
  border: solid 1px #d2d2d2;
  border-bottom: solid 2px #d2d2d2; }
  .calendar-calendar table.mini tr:first-child td {
    border: none;
    padding: 5px; }
.calendar-calendar table.mini td {
  padding: 3px 6px 18px 10px;
  border: solid 1px #d2d2d2; }
  .calendar-calendar table.mini td a {
    text-decoration: none; }
  .calendar-calendar table.mini td.has-events {
    background-color: #f2f2f2; }
  .calendar-calendar table.mini td.today {
    background-color: #d1dee2; }

/*# sourceMappingURL=styles.css.map */
